.saturday-style {
    $color1: #619da1;
    $color2: #98ceeb;
    $color3: white;
    $color4: #cbecfa;

    .p-speeddial-button.p-button.p-button-icon-only {
        width: 2rem;
        height: 2rem;
    }

    .greeting {
        color: $color1;
        text-shadow: 1px 0px 0px $color2,
            0px 1px 0px $color2,
            2px 1px 0px $color2,
            1px 2px 0px $color2,
            3px 2px 0px $color2,
            2px 3px 0px $color2,
            4px 3px 0px $color2,
            3px 4px 0px $color2,
            5px 4px 0px $color2,
            4px 5px 0px $color2,
            6px 5px 0px $color2,
            5px 6px 0px $color2,
            7px 6px 0px $color2,
            6px 7px 0px $color2,
            8px 7px 0px $color4,
            7px 8px 0px $color4,
            9px 8px 0px $color4,
            8px 9px 0px $color4,
            10px 9px 0px $color4,
            9px 10px 0px $color4,
            11px 10px 0px $color4,
            10px 11px 0px $color4;

        &:before,
        &:after {
            content: attr(data-heading);
            position: absolute;
            overflow: hidden;
            left: 0;
            top: 0;
        }

        &:before {
            color: $color3;
            width: 100%;
            z-index: 5;
            font-family: 'CoreCircus2DIn';
            font-weight: normal;
        }

        &:after {
            z-index: -1;
            text-shadow:
                -1px -1px 0 $color3,
                1px -1px 0 $color3,
                -1px 1px 0 $color3,
                1px 1px 0 $color3,
                -3px 3px 2px #6c9d9e,
                -5px 5px 2px #6c9d9e,
                -7px 7px 2px #6c9d9e,
                -8px 8px 2px #6c9d9e,
                -9px 9px 2px #6c9d9e,
                -11px 11px 2px #6c9d9e;
        }
    }
}